<h1 class="text-success">レシピを変換しました</h1>
<%= @ingredient %>
<%= form_tag("/recipe", class:"form-horizontal container") do %>
  <div class="form-group">
    <label class="control-label">材料</label>
    <textarea name="ingredient" class="form-control" rows="10"><%= @ingredient %></textarea>
  </div>
    <div class="form-group">
      <label class="control-label">作り方</label>
      <textarea name="making" class="form-control" rows="10"><%= @making %></textarea>
    </div>
  <div class="form-group">
    <a href="/recipe" class="btn btn-success btn-lg">戻る</a>
  </div>

<% end %>
