<h1 class="text-success">レシピを変換しました</h1>
<%= form_tag("/recipe", class:"form-horizontal container") do %>
  <div class="form-group">
    <label class="control-label">材料</label>
    <textarea name="ingredient" class="form-control" rows="10"><%
      lines = @ingredient.split("\r\n")
      ingredient = ""
      lines.each do |line|
        cells = line.split("\t")
        ingredient += "<li>#{cells[0]}<span>#{cells[1]}</span></li>\r\n"
      end
    %><%= ingredient.chomp! %></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">作り方</label>
    <textarea name="making" class="form-control" rows="10"><%
      lines = @making.split("\r\n")
      making = ""
      lines.each do |line|
        making += "<li>#{lines[0]}</li>\r\n"
      end
    %><%= making.chomp! %></textarea>
  </div>
  <div class="form-group">
    <a href="#" class="btn btn-success btn-lg" onclick="javascript:window.history.back(-1);return false;">戻る</a>
  </div>

<% end %>
