<!DOCTYPE html>
<html>
  <head>
    <title>ExcelChanger</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <div class="container">
        <h1>Excel Changer</h1>
      </div>
    </header>
    <article id="articleBody" class="container">
      <%= yield %>
    </article>
  </body>
</html>
